PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=click_shop
DB_SYNC=true
JWT_SECRET=eshop-secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@click-shop.com
ADMIN_PASSWORD=admin123
